<%= form_for(@post) do |f| %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :content %>
  <%= f.text_area :content %>
</p>

<% #How can i build a checkbox for each category %>
<label for ="category_id_1">Cool</label><input type = "checkbox" name = "?" value = "1">

<%= f.submit %>
<% end %>
